// Base Layout Styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-jua);
}

body {
  color: var(--color-text-body);
  background-color: var(--color-bg);
}

main {
  min-height: 100vh;
  padding: var(--space-l);
}

body.signed-in main {
  margin-left: 280px; //space for sidebar
}


